@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff;
    --foreground: #171717;
    --gray: #708090;
    --blue: #3783ff;
    --indigo: #4815aa;
    --green: #4de94c;
    --red: #f60000;
    --orange: #ff8c00;
    --yellow: #ffee00;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.pcmb-text-gray {
  color: var(--gray);
}

.pcmb-text-blue {
  color: var(--blue);
}

.pcmb-text-indigo {
  color: var(--indigo);
}

.pcmb-text-green {
  color: var(--green);
}

.pcmb-text-red {
  color: var(--red);
}

.pcmb-text-orange {
  color: var(--orange);
}

.pcmb-text-yellow {
  color: var(--yellow);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
